/*-- Global Styles --*/
:root {
  font-size: 18px;
}
*{
  box-sizing: border-box;
}
body{
  background-color: #03191E;
}
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
background-color: #2E294E;
}
body, section, div, article, aside, h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
}
/*-- Document Styles --*/
footer{
  font-family: 'Dosis', sans-serif;
  background-color: #29524A;
  color: #DDD;
  text-align: center;
  padding: 1em;
}
nav{
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: #29524A;
  padding: 1em;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  nav {flex-direction: row;}
}
nav a{
  color: #E0E2DB;
  text-decoration: none;
}
.trigram {
  font-size: 1.75em;
  display: none;
}
@media screen and (max-width: 767px){
  .topnav a {display: none;}
  .topnav a.trigram {display: inherit; align-self: flex-end;}
}
@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;}
  .topnav.responsive a {display:inherit;}
  .topnav.responsive a.trigram {visibility: hidden; position: absolute; right: 3%; top: 2%;}
  .trigram {display:inherit;}
  .topnav.responsive a.trigram::after {content: '\000D7'; visibility:visible; text-indent: -.5em;}
}
nav a:hover {
  color: #EF626C;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
  font-size: 16px;
}
.caption{
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: #E0E2DB;
}
.more{
background-color: #29524A;
border: 2px solid #E0E2DB;
border-radius: 5px;
font-family: 'Dosis', sans-serif;
font-size: 16px;
color: #E0E2DB;
padding: 10px 30px;
}
.more:hover{
  text-decoration: underline;
  color: #EF626C;
  border: 2px solid #EF626C;
}
h3{
font-family: 'Knewave', cursive;
font-size: 30px;
color: #EF626C;
}
p{
font-family: 'Dosis', sans-serif;
padding-top: .75em;
padding-bottom: .75em;
color: #E0E2DB;
}
.one .thumb{
  background-image: url(https://picsum.photos/id/1027/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.two .thumb2{
  background-image: url(https://picsum.photos/id/1042/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.three .thumb3{
  background-image: url(https://picsum.photos/id/1054/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.four .thumb4{
  background-image: url(https://picsum.photos/id/1080/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.five .thumb5{
  background-image: url(https://picsum.photos/id/133/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.six .thumb6{
  background-image: url(https://picsum.photos/id/135/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.seven .thumb7{
  background-image: url(https://picsum.photos/id/146/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.eight .thumb8{
  background-image: url(https://picsum.photos/id/154/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.nine .thumb9{
  background-image: url(https://picsum.photos/id/183/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.ten .thumb10{
  background-image: url(https://picsum.photos/id/40/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.eleven .thumb11{
  background-image: url(https://picsum.photos/id/257/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.twelve .thumb12{
  background-image: url(https://picsum.photos/id/391/200/300);
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.grid-container{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 550px){
  .grid-container {grid-template-columns: repeat(2,1fr);}
}
@media screen and (min-width: 786px){
  .grid-container {grid-template-columns: repeat(3,1fr);}
}
@media screen and (min-width: 990px){
  .grid-container {grid-template-columns: repeat(4,1fr);}
}
.card{
  border: none;
}
.card-content{
  padding: 1em;
}
.card:hover{
    transform: scale(1.02);
    transition: all 200ms ease-in-out;
}
/* slide show stuff */
.slideshow{
width: 100%;
margin-bottom: 1em;
padding: 1em;
}
.caption{
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: 'Knewave', cursive;
  font-size: 40px;
  text-align: center;
  padding: .5em;
}
.slideshow img{
  width: 100%;
  padding: .5em;
}
.slideshow-wrap{
  position: relative;
  max-width: 1440px;
  margin: auto;
}
.prev, .next{
  position: absolute;
  top: 50%;
  width: auto;
  color: #E0E2DB;
}
.next{
  right: 0;
}
.prev:hover, .next:hover{
  background: rgba(0, 0, 0, 0.5);
  color: #EF626C;
}
.dot-wrap{
text-align: center;
}
.dot{
  width: 15%;
  height: 15px;
  display: inline-block;
  opacity: 0.7;
}
.dot img{
  width: 100%;
}
.dot:hover{
opacity: 1;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-wfont-family: 'Knewave', cursive; */idth: 700px){
  .modal-content {
    width: 100%;
  }
}


/*Body Font = font-family: 'Dosis', sans-serif; */
/*Header Font = font-family: 'Knewave', cursive; */
