/*-- Global Styles --*/
:root {
  font-size: 18px;
}
*{
  box-sizing: border-box;
}
body, section, div, article, aside, h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
}
/*-- Document Styles --*/
footer{
  background-color: #333;
  color: #DDD;
  text-align: center;
  padding: 1em;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 1em;
}
nav a{
  color: #DDD;
  text-decoration: none
}
nav a:hover {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
}
.slideshow{
background-color: #CCC;
width: 100%;
height: 400px;
}
.one .thumb{
  background-image: url('../img/dog.jpg');
  background-position: center center;
  background-size: cover;
  padding-bottom: 56%;
}
.grid-container{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 550px){
  .grid-container {grid-template-columns: repeat(2,1fr);}
}
@media screen and (min-width: 786px){
  .grid-container {grid-template-columns: repeat(3,1fr);}
}
@media screen and (min-width: 990px){
  .grid-container {grid-template-columns: repeat(4,1fr);}
}
.card{
  border: 1px solid #333;
}
.card-content{
  padding: 1em;
}
